<ion-view view-title="Attendance"  ng-init="list()">
  <ion-content>
    <h1>Present</h1>
    <div ng-repeat="studentName in data.StudentList" class="item">
  			<!--div ng-repeat="studentName in bc" class="item"-->
          <p> Username: {{ studentName.displayedName }} </p>
  				<p> Name: {{ studentName.fullName }} </p>
  				<!--p> {{getTimeStudent(studentName.date)}} </p-->
  				<p> Matric Number: {{ studentName.matricNumber }} </p>
          </div>
          <!--p>In class: {{ inClass(studentName.fullName, 3452)}}</p>
  		  </div-->
  		</div>
  </ion-content>
</ion-view>
