<ion-view view-title="Attendance"  ng-init="list()">
  <ion-content>
    <h1>Classes</h1>
    <!--div ng-repeat="bc in data.Classes" class="item">
  			<div ng-repeat="code in bc" class="item">
  				<p> {{ code.classCode() }} </p>
  			  <p> {{getTimeStudent(code.date)}} </p>
  				<p> {{ code.uniqueKeyNum()}} </p>
  				<p> {{ code.distance}} </p>
  			</div>
  		</div-->
      <div  ng-init="uniqueKeyNum('3452', 'b9407f30-f5f8-466e-aff9-25556b57fe6d:15956:22958')" class="item">
      <div>
      <p> Name: {{ getStudentName(name) }}</p>
      <p> Matric: {{ getStudentMatric(name) }} </p>
      <p>Beacon: {{ beacon }} </p>
      <p>Date: {{ getTimeStudent(date) }}</p>
      <p>Distance: {{ distance }}</p>
      <p> In class: {{ inClass(name, 3452) }}
      <p> Class Code: 3452 </p>
      </div>
      </div>
      <div ng-init="uniqueKeyNum('3452', 'b9407f30-f5f8-466e-aff9-25556b57fe6d:54228:17064')" class="item">
      <div>
      <p> Name: {{ getStudentName(name) }}</p>
      <p> Matric: {{ getStudentMatric(name) }} </p>
      <p>Beacon: {{ beacon }} </p>
      <p>Date: {{ getTimeStudent(date) }}</p>
      <p>Distance: {{ distance }}</p>
      <p> Class Code: 3452 </p>
      </div>
      </div>
      <div ng-init="uniqueKeyNum('3452', 'b9407f30-f5f8-466e-aff9-25556b57fe6d:61897:45819')" class="item">
      <div>
      <p> Name: {{ getStudentName(name) }}</p>
      <p> Matric: {{ getStudentMatric(name) }} </p>
      <p>Beacon: {{ beacon }} </p>
      <p>Date: {{ getTimeStudent(date) }}</p>
      <p>Distance: {{ distance }}</p>
      <p> Class Code: 3452 </p>
      </div>
      </div>
  </ion-content>
</ion-view>
