<ion-view view-title="Attendance">
  <ion-content>
    <h1>Classes</h1>
    <!--div ng-repeat="bc in data.Classes" class="item">
  			<div ng-repeat="code in bc" class="item">
  				<p> {{ code.classCode() }} </p>
  			  <p> {{getTimeStudent(code.date)}} </p>
  				<p> {{ code.uniqueKeyNum()}} </p>
  				<p> {{ code.distance}} </p>
  			</div>
  		</div-->
      <div  ng-init="uniqueKeyNum('1996')" class="item">
      <div ng-repeat= "student in studentList" class="item">
        <article class="item_frame" >
      <div><p> Name: {{ getStudentName(student.id) }}</p>
      <p> Matric: {{ getStudentMatric(student.id) }} </p>
      <p>Date: {{ getTimeStudent(date) }}</p>
      <p>Coordinates: ({{ student.xCoordinate }} , {{ student.yCoordinate }})</p></div></article>
      </div>
      </div>
  </ion-content>
</ion-view>
