<ion-view view-title="Beacon Mapping">
  <ion-content>

    <h1> Enter Class Code </h1>
    <label class="item item-input">
      <input type="text" ng-model="classCode" placeholder="Class Code">
    </label>

    <div class="list">
        <div class="item" ng-repeat="(key, value) in beacons">
            <div class="row">
                <div class="col truncate">
                    {{value.uuid}}
                </div>
            </div>
            <div class="row">
                <div class="col">
                    major: {{value.major}}
                </div>
                <div class="col">
                    minor: {{value.minor}}
                </div>
            </div>
            <div class="row">
                <div class="col">
                    {{value.accuracy}}
                </div>
            </div>
        </div>
    </div>
    

    <button class="button button-full button-positive" ng-click="lockBlueberry()">
      Place Blueberry
    </button>

    <button class="button button-full button-positive" ng-click="lockIce()">
      Place Ice
    </button>

    <button class="button button-full button-positive" ng-click="lockMint()">
      Place Mint
    </button>

    <button class="button button-full button-positive" ng-click="getIB(classCode)">
      Get Ice Blueberry Distance
    </button>

    <button class="button button-full button-positive" ng-click="getIM(classCode)">
      Get Ice Mint Distance
    </button>

    <button class="button button-full button-positive" ng-click="getBM(classCode)">
      Get Blueberry Mint Distance
    </button>

    <button class="button button-full button-positive" ng-click="getRoom(classCode)">
      Get Height
    </button>

    <div class="list">
     <p> Distance of Ice away from User: {{ iceDistance }} </p>
     <p> Distance of Blueberry away from User: {{ blueberryDistance }} </p>
     <p> Distance of Mint away from User: {{ mintDistance }} </p>
    </div>

    <div class="list">
      <p> Distance of Ice - Blueberry: {{ IceBlueberry }} </p>
      <p> Distance of Ice - Mint: {{ IceMint }} </p>
      <p> Distance of Blueberry - Mint: {{ BlueberryMint }} </p>

      <p> Width : {{ BlueberryMint }} </p>
      <p> Height : {{ Height }} </p>
    </div>


  </ion-content>
</ion-view>